<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  <a class="navbar-brand" [routerLink]="['home']">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

<!-- <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TV Shows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Trending</a>
      </li>
    </ul>
    <form class="form-inline my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="query" name="query">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="onQuery()">Search</button>
    </form>
    <div class="my-lg-2"> -->
<!-- <button class="loginBtn loginBtn--google" (click)="login()">Login using Google</button> -->
<!-- <a class="loginBtn loginBtn--google" href="http://localhost:3000/auth/google">Login</a> -->
<!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="!authService.loggedIn()">
            <a class="nav-link" routerLink='/signin'>Sign In</a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()">
            <a class="nav-link" routerLink='/signup'>Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <a class="nav-link" routerLink='/profile'>Profile</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- <div *ngFor="let item of results ">
  <span><img src="https://image.tmdb.org/t/p/w640{{item.poster_path}}" height="300" width="200" style="margin:10px;"> {{item.title}}</span>
</div> -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <button mat-button class="brand" routerLink='/'>Cinemood</button>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <button mat-button routerLink='/home'>Home</button>
        </li>
        <li>
          <button mat-button>Movies</button>
        </li>
        <li>
          <button mat-button>TV Series</button>
        </li>
        <!-- <li *ngIf="mate-request">
          <button mat-raised-button color="primary" matBadgeColor="accent">
            <span>Mate Requests</span> <span color="accent">8</span>
          </button>
        </li> -->
        <li>
          <button mat-button class="btn-primary" routerLink='/signin' *ngIf="!authService.loggedIn()">Login</button>
        </li>
        <li *ngIf="authService.loggedIn()">
          <a (click)="openSideNav()">
            <div class="row">
              <div class="col m6">
                <img src="{{user?.profilePicture}}" alt="" class="circle profile">
              </div>
              <div class="col m6">
                <b>{{user?.name}}</b>
              </div>
            </div>
          </a>
        </li>
        <li>
          <button mat-button (click)="onLogout()" *ngIf="authService.loggedIn()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>

</div>
