<div class="container">
  <div style="margin-top:40px;">
    <h1 class="text-center">Signup</h1>
  </div>
  <div>
    <form (submit)="onRegisterSubmit()">
      <div class="form-group">
        <input type="text" placeholder="Enter your name" name="name" id="name" [(ngModel)]="name" class="form-control">
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" (change)="uploadImage($event)">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" [(ngModel)]= "filename" name="filename">
        </div>
        <div class="form-group">
          <span>{{progress}} Uploaded</span>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dob" name="dob" (change)="onChange()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <mat-radio-group [(ngModel)]="gender" name="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </mat-form-field>
      </div>

      <div class="form-group">
        <input type="email" placeholder="Enter your email" name="email" id="email" [(ngModel)]="email" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Enter your username" name="username" id="username" [(ngModel)]="username" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Enter your password" name="password" id="password" [(ngModel)]="password" class="form-control">
      </div>
      <div class="form-group">
        <input type="submit" value="Signup" class="btn btn-default">
      </div>
    </form>
  </div>
</div>
