<div class="form-group">
  <button mat-raised-button (click)="postMood()" color="primary">Send Mood</button>
</div>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Mood Title" [(ngModel)]="title" name="title">
</div>
<div class="form-group">
  <textarea type="text" [(ngModel)]='description' class="form-control" placeholder="Mood Description" name="description"></textarea>
</div>

<!-- <ul *ngFor="let m of mood">
  <li>
    <div>
      <h5>{{m.title}}</h5>
      <span *ngIf="m.user">by
        <a [routerLink]="['/user', m.user.user.username]">
          {{m.user.user.name}}
        </a>
      </span> on
      <span>{{m.time | date: 'MM/dd/yyyy' }}</span>
    </div>
    <div>
      <p>{{m.description}}</p>
    </div>
  </li>
</ul> -->
<div *ngFor="let m of mood" id=mood-section>
  <mat-card *ngIf="m.user.user">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img src="{{m.user.user.profilePicture}}" class="circle" height="50">
      </div>
      <mat-card-title>{{m.user.user.name}}</mat-card-title>
      <mat-card-subtitle>{{m.time | date: 'MM/dd/yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4>{{m.title}}</h4>
    </mat-card-content>
    <mat-card-footer>
      <p>
        "{{m.description}}"
      </p>
    </mat-card-footer>
  </mat-card>
</div>

