<div class="form-group">
  <button (click)="postMood()" class="btn btn-default">Send Mood</button>
</div>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Mood Title" [(ngModel)]="title">
</div>
<div class="form-group">
  <textarea type="text" [(ngModel)]='description' class="form-control" placeholder="Mood Description"></textarea>
</div>

<ul *ngFor="let m of mood">
  <li>
    <h3>{{m.title}}</h3>
    <span>{{m.time | date: 'MM/dd/yyyy' }}</span>
    <p>{{m.description}}</p>
  </li>
</ul>
